* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --clr-neon: rgba(248, 81, 123, 0.644);
  --clr-bg: rgb(255, 255, 255);
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.big-eclipse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.mid-eclipse {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  opacity: 0.4;
  height: 60%;
}

.small-eclipse {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

.marginmaster {
    margin-right: 200px;
}

.neon-button {
  font-size: 4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.neon-button-thing {
  text-align: center;
  margin-top: 10%;
}

.animation {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  position: relative;
  overflow: hidden;
}

.paper-plane {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 0%;
}

.container {
    height: 100vh;
  }
  
  .container img {
    position: absolute;
    width: 100%;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .main-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%, -30%);
  }
  
  .content {
    width: 100%;
    background: rgb(219, 219, 219);
    min-height: 100vh;
    z-index: 2;
    position: absolute;
  }
  
  .content-images{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 60vh;
      text-align: center;
  }
  
  .text {
      padding: 2rem 20rem;
      font-size: 1.1rem;
  }

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 80%;
  }
  .small-eclipse,
  .mid-eclipse,
  .big-eclipse {
    opacity: 0.2;
  }
}
